<div class="about">
    <img src="assets/pics/aboutus.png" alt="">
</div>

<!-- how to  -->
<div class="body-div text-center how">
    <h2>How to use Yes, Chef</h2>
    <h3 class="how-subtitle">This is how we do!</h3>
    <div class="row row-cols-sm-1 row-cols-md-1 row-cols-lg-auto howto">
        <div class="col">
            <img class="use" src="assets/pics/use1.png" alt="">
            <h3 class="step-text">Step 1</h3>
            <h3 class="intro">Tell us what you got</h3>
        </div>
        <div class="col circle">
            <img src="assets/pics/add.png" alt="">
        </div>
        <div class="col">
            <img class="use" src="assets/pics/use2.png" alt="">
            <h3 class="step-text">Step 2</h3>
            <h3 class="intro">Choose the #hashtag</h3>
        </div>
        <div class="col circle">
            <img src="assets/pics/become.png" alt="">
        </div>
        <div class="col">
            <img class="use user-3" src="assets/pics/use3.png" alt="">
            <h3 class="step-text">Step 3</h3>
            <h3 class="intro">Explore the recipes</h3>
        </div>
    </div>
    <p>And <span class="yes">Yes, Chef !</span> Let's roll.</p>
</div>

<!-- who -->
<div class="d-flex who-bg" id="aboutus">
    <div class="office"><img class="shadow" src="assets/pics/office.jpg" alt=""></div>
    <div class="text-center">
        <h2>Who are we ?</h2>
        <h4>
            Who are we ? Who are we ? Who are we ?
            Who are we ? Who are we ? Who are we ?
            Who are we ? Who are we ? Who are we ?
            Who are we ? Who are we ? Who are we ?
            Who are we ? Who are we ? Who are we ?
            Who are we ? Who are we ? Who are we ?
            Who are we ? Who are we ? Who are we ?
            Who are we ? Who are we ? Who are we ?
            Who are we ? Who are we ? Who are we ?
            Who are we ? Who are we ? Who are we ?
            Who are we ? Who are we ? Who are we ?
            Who are we ? Who are we ? Who are we ?
            Who are we ? Who are we ? Who are we ?
            Who are we ? Who are we ? Who are we ?
            Who are we ? Who are we ? Who are we ?</h4>
    </div>
</div>

<!-- our heplers -->
<div class="text-center body-div">
    <h2>Our heplers</h2>
    <swiper-container class="mySwiper" speed="800" free-mode="true" pagination="true" pagination-clickable="true"
        grab-cursor="true" [slidesPerView]="slidesPerView" [spaceBetween]="spaceBetween">
        <swiper-slide class="card">
            <div class="card-img" style="background-image: url('assets/pics/helper_img1.png');"></div>
            <div class="card-body text-center">
                <h4>Brand_1</h4>
            </div>
        </swiper-slide>
        <swiper-slide class="card">
            <div class="card-img" style="background-image: url('assets/pics/helper_img2.png');"></div>
            <div class="card-body text-center">
                <h4>Brand_2</h4>
            </div>
        </swiper-slide>
        <swiper-slide class="card">
            <div class="card-img" style="background-image: url('assets/pics/helper_img1.png');"></div>
            <div class="card-body text-center">
                <h4>Brand_3</h4>
            </div>
        </swiper-slide>
        <swiper-slide class="card">
            <div class="card-img" style="background-image: url('assets/pics/helper_img2.png');"></div>
            <div class="card-body text-center">
                <h4>Brand_4</h4>
            </div>
        </swiper-slide>
        <swiper-slide class="card">
            <div class="card-img" style="background-image: url('assets/pics/helper_img1.png');"></div>
            <div class="card-body text-center">
                <h4>Brand_5</h4>
            </div>
        </swiper-slide>
        <div class="swiper-pagination"></div>
    </swiper-container>
</div>


<!-- contact us -->
<h2 class="text-center contact-title" id="contactus">Contact Us</h2>
<div class="contact">
    <form class="contact-form" [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Full Name<span class="mandatory">*</span></label>
            <input type="text" class="form-control" id="exampleFormControlInput1" aria-required="true"
                placeholder="Name" formControlName="fullname">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Phone<span class="mandatory">*</span></label>
            <input type="text" class="form-control" id="exampleFormControlInput2" aria-required="true"
                placeholder="Phone Number" formControlName="phone">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Email<span class="mandatory">*</span></label>
            <input type="email" class="form-control" id="exampleFormControlInput3" aria-required="true"
                placeholder="name@example.com" formControlName="email">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Message<span class="mandatory">*</span></label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="4" maxLength="80" aria-required="true"
                placeholder="Leave us a message..." formControlName="message"></textarea>
        </div>
        @if (emailinvalid) {
            <p class="form-warning">Please enter a valid email address.</p>
            <!-- <p class="form-warning">Please fill out all the required informaton.</p> -->
        }
        <button class="btn btn-outline-primary contact-btn" type="submit" (click)="open()" [disabled]="form.invalid">Submit</button>
    </form>
</div>
