<!-- swiper -->

<div class="body-div" id="recommendation">
  <h2>Recommendation</h2>
  <h3>We think you'll love these</h3>


  <swiper-container class="mySwiper" speed="800" free-mode="true" pagination="true" pagination-clickable="true"
    grab-cursor="true" [slidesPerView]="slidesPerView" [spaceBetween]="spaceBetween">
    <swiper-slide class="card shadow">
      <div class="card-img" style="background-image: url('assets/pics/breakfast.jpg');"></div>
      <div class="card-body text-center">
        <h4 (click)="onClickHashtag('breakfast')">#breakfast</h4>
      </div>
    </swiper-slide>
    <swiper-slide class="card shadow">
      <div class="card-img" style="background-image: url('assets/pics/lunch.jpg');"></div>
      <div class="card-body text-center">
        <h4 (click)="onClickHashtag('lunch')">#lunch</h4>
      </div>
    </swiper-slide>
    <swiper-slide class="card shadow">
      <div class="card-img" style="background-image: url('assets/pics/dinner.jpg');"></div>
      <div class="card-body text-center">
        <h4 (click)="onClickHashtag('dinner')">#dinner</h4>
      </div>
    </swiper-slide>
    <swiper-slide class="card shadow">
      <div class="card-img" style="background-image: url('assets/pics/applepie.jpg');"></div>
      <div class="card-body text-center">
        <h4 (click)="onClickHashtag('desserts')">#desserts</h4>
      </div>
    </swiper-slide>
    <swiper-slide class="card shadow">
      <div class="card-img" style="background-image: url('assets/pics/cocktail.jpg');"></div>
      <div class="card-body text-center">
        <h4 (click)="onClickHashtag('beverages')">#beverages</h4>
      </div>
    </swiper-slide>
    <div class="swiper-pagination"></div>
  </swiper-container>
</div>
