<div class="forgotpw-bg">
  <div class="forgotpw text-center">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="d-flex">
        <img class="goback" src="assets/pics/goback.png" alt="" (click)="goBack()">
        <a routerLink="/home">
          <img class="logo-forgot" src="assets/pics/slogan_1.png" alt="Yes, Chef">
        </a>
      </div>
      <h2>Forgot Password</h2>
      <h4>Don't worry! Please enter the email <br> address associated your account.</h4>
      <input class="form-control" type="email" placeholder="Email" formControlName="email"
        aria-describedby="emailinvalid">
      @if (emailisinvalid){
      <div id="emailinvalid" class="form-warning">Please enter a valid email address.</div>
      }
      <button class="btn btn-outline-primary" (click)="onClickCheckRegister()" [disabled]="form.invalid">Submit</button>
    </form>
  </div>
</div>
