<div class="signup-bg">
  <div class="signup">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">
      <div class="d-flex justify-content-end">
        <img class="signup-close" src="assets/pics/close.png" alt="" (click)="onClickBackToHome()">
      </div>
      <div class="d-flex justify-content-center">
        <img class="signup-solgan" src="assets/pics/slogan_1.png" alt="Yes, Chef" routerLink="/home">
      </div>
      <h4 class="text-center">Sign up to be one of us !</h4>
      <div class="signup-input">
        <div class="row row-cols-1 row-cols-sm-2">
          <div class="col">
            <div class="form-floating">
              <input type="text" class="form-control" id="floatingName" placeholder="Leticia Lin"
                formControlName="username">
              <label for="floatingName">Username</label>
            </div>
          </div>
          <div class="col col-bottom">
            <div class="input-group">
              <div class="form-floating">
                <input class="form-control datepicker" placeholder="yyyy-mm-dd"
                  formControlName="birth" name="dp" ngbDatepicker #d="ngbDatepicker" id="floatingbirth"
                  [minDate]="minDate" [maxDate]="maxDate">
                <label for="floatingbirth">Date of Birth</label>
              </div>
              <button class="btn btn-outline-secondary bi bi-calendar3" (click)="d.toggle()" type="button"></button>
            </div>
          </div>
        </div>
        <div class="row row-cols-1 row-cols-sm-2">
          <div class="col">
            <div class="form-floating">
              <input type="email" class="form-control" id="floatingInput" aria-describedby="emailinvalid"
                placeholder="name@example.com" formControlName="email" [ngClass]="{'is-invalid': emailInvalid}"
                (ngModelChange)="onChangeEmailInput()">
              <label for="floatingInput">Email Address</label>
            </div>
          </div>
          <div class="col col-bottom">
            <div class="form-floating">
              <input type="text" class="form-control" id="floatingnumber" placeholder="Phone Number"
                formControlName="phone">
              <label for="floatingnumber">Phone Number</label>
            </div>
          </div>
        </div>
        <div class="row row-cols-1 row-cols-sm-2" formGroupName="passwords">
          <div class="col">
            <div class="form-floating ">
              <input type="text" class="form-control" id="floatingpw" placeholder="Password"
                aria-describedby="pwinvalid" formControlName="password" [ngClass]="{'is-invalid': passwordsNoMatch}">
              <label for="floatingpw">Password</label>
            </div>
          </div>
          <div class="col col-bottom">
            <div class="form-floating">
              <input type="text" class="form-control " id="floatingconfirmpw" aria-describedby="pwinvalid"
                placeholder="Confirm Password" formControlName="confirmPassword"
                [ngClass]="{'is-invalid': passwordsNoMatch}">
              <label for="floatingconfirmpw">Confirm Password</label>
            </div>
          </div>
        </div>
        @if (this.form.controls.email.getError('isEmailExist') === true) {
        <div id="emailexist" class="form-warning">The email you entered already registered.</div>
        } @else if(emailInvalid) {
        <div id="emailinvalid" class="form-warning">Please enter a valid email address.</div>
        }

        @if (passwordsNoMatch) {
        <div id="pwinvalid" class="form-warning">Please enter at least 8 characters long and match Confirm
          Password.</div>
        }
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" formControlName="agree">
          <label class="form-check-label" for="flexCheckChecked">
            I agree to the <u>Terms and Conditions</u>.
          </label>
        </div>
      </div>
      <div class="d-flex flex-column">
        <button class="btn btn-outline-light" (click)="onClickSignUpBtn()" type="submit" [disabled]="form.invalid">
          Creat Account
        </button>
        <!-- <p class="or">or</p>
        <button class="btn btn-outline-primary google-btn" type="submit">
          <img class="google" src="assets/pics/google.png" alt="">Sign up with Google
        </button> -->
      </div>
      <div class="d-flex align-items login-su">
        <p class="grey">Already have an account?</p>
        <p class="sign"><a routerLink="/login">Log In</a></p>
      </div>
    </form>
  </div>
</div>
