<div [ngSwitch]="modalType">
  <div *ngSwitchCase="'login'">
    <!-- login -->
    <div class="modal-header">
      <img class="modal-logo" src="assets/pics/icon.png" alt="">
    </div>
    <div class="modal-body text-center">
      <h3>Successfully logged in</h3>
      <h4>Welcome back! {{ username }} </h4>
    </div>
    <div class="modal-footer">
      <img class="modal-check" src="assets/pics/check.png" alt="" (click)="onClickBackToHome()"
        type="button">
    </div>
  </div>


  <div *ngSwitchCase="'loginFailed'">
    <!-- login failed-->
    <div class="modal-header">
      <img class="modal-logo" src="assets/pics/icon.png" alt="">
    </div>
    <div class="modal-body text-center">
      <h3 class="modal-warn">Login failed</h3>
      <h4>We didn't recognize the email <br> or password you entered.</h4>
    </div>
    <div class="modal-footer">
      <img class="modal-check" src="assets/pics/failed.png" alt="" (click)="activeModal.close('Close click')"
        type="button">
        <!-- (click)="activeModal.close('Close click')" -->
    </div>
  </div>


  <div *ngSwitchCase="'forgotPwEmailSend'">
    <!-- forgot password send email -->
    <div class="modal-header">
      <img class="modal-logo" src="assets/pics/icon.png" alt="">
    </div>
    <div class="modal-body text-center">
      <h3>Check your email</h3>
      <h4>We have send password recovery instruction <br> to your email.</h4>
    </div>
    <div class="modal-footer">
      <img class="modal-check" src="assets/pics/check.png" alt="" (click)="activeModal.close('Close click')"
        type="button">
    </div>
  </div>

  <div *ngSwitchCase="'forgotNotRegister'">
    <!-- forgot password not register -->
    <div class="modal-header">
      <img class="modal-logo" src="assets/pics/icon.png" alt="">
    </div>
    <div class="modal-body text-center">
      <h3 class="modal-warn">Failed to recovery</h3>
      <h4>You have not registered yet.</h4>
    </div>
    <div class="modal-footer">
      <img class="modal-check" src="assets/pics/failed.png" alt="" (click)="activeModal.close('Close click')"
        type="button">
    </div>
  </div>


  <div *ngSwitchCase="'about'">
    <!-- about -->
    <div class="modal-header">
      <img class="modal-logo" src="assets/pics/icon.png" alt="">
    </div>
    <div class="modal-body text-center">
      <h3>Successfully send</h3>
      <h4>We will get in touch soon!</h4>
    </div>
    <div class="modal-footer">
      <img class="modal-check" src="assets/pics/check.png" alt="" (click)="activeModal.close('Close click')"
        type="button">
    </div>
  </div>

  <div *ngSwitchCase="'signUp'">
    <!-- sing up -->
    <div class="modal-header">
      <img class="modal-logo" src="assets/pics/icon.png" alt="">
    </div>
    <div class="modal-body text-center">
      <h3>Successfully created</h3>
      <h4>Welcome! Let's roll.</h4>
    </div>
    <div class="modal-footer justify-content-center modal-footer-btn" >
        <button class="btn btn-outline-secondary" (click)="onClickBackToHome()">Later</button>
        <button class="btn btn-outline-primary" (click)="onClickLogin()">Log In</button>
    </div>
  </div>

  <div *ngSwitchCase="'comment'">
    <!-- detailed - comment -->
    <div class="modal-header">
      <img class="modal-logo" src="assets/pics/icon.png" alt="">
    </div>
    <div class="modal-body text-center">
      <h3>Successfully send</h3>
      <h4>The comment submitted!</h4>
    </div>
    <div class="modal-footer">
      <img class="modal-check" src="assets/pics/check.png" alt="" (click)="activeModal.close('Close click')"
        type="button">
    </div>
  </div>


  <div *ngSwitchCase="'logOut'">
    <!-- logout -->
    <div class="modal-header">
      <img class="modal-logo" src="assets/pics/icon.png" alt="">
    </div>
    <div class="modal-body text-center">
      <h3>Successfully logged out</h3>
      <h4>See ya!</h4>
    </div>
    <div class="modal-footer">
      <img class="modal-check" src="assets/pics/check.png" alt="" (click)="activeModal.close('Close click');"
        type="button">
    </div>
  </div>


  <div *ngSwitchCase="'noAccess'">
    <!-- no access -->
    <div class="modal-header">
      <img class="modal-logo" src="assets/pics/icon.png" alt="">
    </div>
    <div class="modal-body text-center">
      <h3 class="modal-warn">No access</h3>
      <h4>You already login.</h4>
    </div>
    <div class="modal-footer">
      <img class="modal-check" src="assets/pics/failed.png" alt="" (click)="activeModal.close('Close click')"
        type="button">
    </div>
  </div>


  <div *ngSwitchCase="'needToLogin'">
    <!-- request login -->
    <div class="modal-header">
      <img class="modal-logo" src="assets/pics/icon.png" alt="">
    </div>
    <div class="modal-body text-center">
      <h3>Please log in first</h3>
      <h4>You need to log in to do this.</h4>
    </div>
    <div class="modal-footer justify-content-center modal-footer-btn" >
        <button class="btn btn-outline-secondary" (click)="activeModal.close('Close click')">Later</button>
        <button class="btn btn-outline-primary" (click)="onClickLogin()">Log In</button>
    </div>
  </div>

</div>
